<%- include("../partials/navbar") %>
<body>
    <div class="hero d-flex flex-column justify-content-center align-items-center w-50 m-auto py-5 fade-in">
        <h1> - Word from the Dev - </h1>  
      <img class="aboutPic"src="https://i.imgur.com/kcETAxq.png" title="source: imgur.com"/>
      <p class="text-center lead"> VrcCompanion is a Passion project that aims to feature a public search functionality for worlds from the Vrchat Database,<br><br>This projects makes extensive use of the unofficial VRchat Api and does not require authentification to access and view any of the VRChat worlds. In order to leave comments and rate any worlds, Please login through google Oauth and share your thoughts<br>If there are any issues contact me through Discord : GuiGui#0005 <br>
        <br>
       </p>
       
       <h2 class="p-2">shameless plugs!</h2>
       <div class="link-btns">
       <a  href="https://guigui-portfolio.com" target="_"><img class="links" src="https://i.imgur.com/Gd1gi0e.png"></a>
       <a href="https://github.com/Guikin" target="_"><img class="links" src="https://i.imgur.com/V230UWF.png"></a>
       </div>
       </div>
</body>