
<%- include("../partials/navbar")%>
<body>
    <div class="container">
    <h2>cool</h2>
    <!-- <h2>Vrc companion</h2>
    <%//worlds.forEach(world =>{%>
        <p><%=//world.name%></p>
        <br>
    <%//})%> -->
    </div>


</body>
</html>