:root{
--bg-color--:linear-gradient(#10ced4,blue);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;  
  background-repeat: no-repeat;
  background-size: contain;
  background: var(--bg-color--);
  color: white;

}

a {
  text-decoration: none;
}

.bgGradient{
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

img{
width:300px;
border-radius: 20px;
}