:root{
--bg-color--:linear-gradient(#10ced4,blue);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;  
  background-repeat: no-repeat;
  background-size: contain;
  background: var(--bg-color--);
  color: white;
  background-attachment: fixed;

}

p {
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.checked{
  color: yellow;
}

.fa-heart:hover{
  color: rgb(0, 195, 255);
}


/* star rating */

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 100px;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-right: 90px;
  position: relative;
  
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.2em;
  cursor: pointer;
  color: rgb(255, 255, 255);
  
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: relat;
  left: 0;
  color: #ffffff;
}



.bgGradient{
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.worldBg{
  height:100%;
}

img{
width:300px;
height:300px;
border-radius: 20px;
}